html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nav {
	height:100px;
	line-height:100px;
}
#icon {
	line-height:100px;
}

